   server {
        listen       %(nginx.port)s;
        server_name  2013.redisconf.com;

        root         %(nginx.root)s;

        error_log    /var/log/nginx/%(name)s_error.log;
        access_log   /var/log/nginx/%(name)s_access.log main;

        location ~ /\. {
                deny all;
                return 404;
        }

        location /video/ {
            rewrite ^/video/js/(.*)$ http://redisconf.com/js/$1 break;

            try_files $uri $uri.html;
        }

        location  / {
            rewrite ^/(.*)$ https://tito.io/redistogo/redis-2013 last;

            # try_files $uri $uri/index.html /index.html;
        }
        error_page  404 500 502 503 504  /andyet_error.html;
        location = /andyet_error.html {
            root html;
        }
    }
   server {
        listen       %(nginx.port)s;
        server_name  %(nginx.sitename)s;

        root         %(nginx.root)s;

        error_log    /var/log/nginx/%(name)s_error.log;
        access_log   /var/log/nginx/%(name)s_access.log main;

        location ~ /\. {
                deny all;
                return 404;
        }

        location  / {
            rewrite ^/(.*)$ https://tito.io/redistogo/redis-2013 last;

            # rewrite ^/(.*)$ http://2013.redisconf.com/$1 last;
        }
        error_page  404 500 502 503 504  /andyet_error.html;
        location = /andyet_error.html {
            root html;
        }
    }